# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt

# vs code
.vscode

# scala 3
.tasty

# sbt
project/project/
project/target/
target/

# general
*.class

.name
misc.xml
modules.xml
scala_compiler.xml